<script type="text/javascript">
	RED.nodes.registerType('Qcom',{
		category: 'Qcom',
		color: '#bad532',
		defaults: {
			name: {value:""},
			module: {value:""}
		},
		inputs:1,
		outputs:1,
		icon: "Qcom_noBackground.png",
		label: function() {
			return this.name||"Qcom";
		},
	});
</script>

<script type="text/x-red" data-template-name="Qcom">
    <div class="form-row">
        <label for="node-input-name"><i class="icon-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Temp/Hum sensor" />
    </div>
    <div class="form-row">
        <label for="node-input-module"><i class="serial-tag"></i> Device id</label>
        <input type="text" id="node-input-module" placeholder="e.g. sensor_3" />
    </div>
</script>

<script type="text/x-red" data-help-name="Qcom">
    <p>NodeRED interface for QcomV2 modules</p>
</script>
